body {
    max-width: 15rem;
    margin: auto;
}

.description, .note {
    text-align: justify;
}
h1 {
    margin-top: 5rem;  
}

input, label, textarea {
    display: block;
    width: 15rem;
}

label {
    position: relative;
    margin: .3rem 0 .3rem 0;
}

.selectables {
    position: absolute;
    top: .2rem;
    left: 2rem;
}


