body {
    max-width: 25rem;
    margin: auto;
}

.description, .note {
    text-align: left;
}
h1 {
    margin-top: 5rem;  
}

input, select, textarea {
    display: block;
    width: 25rem;
}

label {
    display: block;
    position: relative;
    margin: .3rem 0 .3rem 0;
}

.selectables {
    position: absolute;
    top: .2rem;
    left: -2.5rem;
}


